#colorText {
    color: #000000;
    font-weight: bold;
    font-size: 200%;
    position: absolute;
    top: 40%;
    left: 37%;
}

#flipperButton {
    font-weight: bold;
    font-size: 75%;
    position: absolute;
    top: 60%;
    left: 47%;
}